:root {
  --pur-1: #421c52;
  --pur-2: #732c7b;
  --pur-3: #9c8aa5;
  --pur-4: #bdaec6;
  --pur-5: #ffffff;
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid var(--pur-5);
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  width: 10px;
  height: 100px;
  background: var(--pur-5);
  position: absolute;
  top: 120px;
  right: 0;
}

.right_arm {
  width: 100px;
  height: 10px;
  background: var(--pur-5);
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.left_arm {
  width: 100px;
  height: 10px;
  background: var(--pur-5);
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.right_leg {
  width: 100px;
  height: 10px;
  background: var(--pur-5);
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.left_leg {
  width: 100px;
  height: 10px;
  background: var(--pur-5);
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}

.wireframe {
  position: relative;
}

.piece_1 {
  height: 50px;
  width: 10px;
  background-color: var(--pur-5);
  position: absolute;
  top: 0;
  right: 0;
}

.piece_2 {
  height: 10px;
  width: 200px;
  background-color: var(--pur-5);
  margin-left: 120px;
}

.piece_3 {
  height: 400px;
  width: 10px;
  background-color: var(--pur-5);
  margin-left: 120px;
}

.piece_4 {
  height: 10px;
  width: 250px;
  background-color: var(--pur-5);
}

@media only screen and (max-width: 769px) {
  .wireframe {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 370px) {
  .wireframe {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 300px) {
  .wireframe {
    transform: scale(0.5);
  }
}
