:root {
  --pur-1: #421c52;
  --pur-2: #732c7b;
  --pur-3: #9c8aa5;
  --pur-4: #bdaec6;
  --pur-5: #ffffff;
}

.text {
  display: flex;
  gap: 0.25rem;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.under_letter {
  border-bottom: 0.1em solid var(--pur-5);
}

@media only screen and (max-width: 769px) {
  .text {
    transform: scale(0.8);
    font-size: 5rem;
  }
}

@media only screen and (max-width: 565px) {
  .text {
    margin: -2rem auto;
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 485px) {
  .text {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 400px) {
  .text {
    width: 80%;
    font-size: 4rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    transform: scale(0.6);
  }
}
